* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body h1 {
  font-family: "Quicksand";
  font-size: 1.8rem;
  text-align: center;
  margin: 0;
  padding: 0.5em;
  color: white;
  background-color: #222325;
  border-bottom: 1px solid black; }

body h2 {
  font-family: "Quicksand";
  font-size: 1.2rem;
  font-weight: bold; }

body p {
  font-family: "Quicksand";
  font-size: 0.9rem; }

body a {
  font-family: "Russo One";
  color: white;
  font-size: 1rem; }

body main {
  background-image: url("../assets/Layout/Background.png"); }

body hr {
  color: #e0d8d8;
  margin: 0.5rem; }

/* --------------- HEADER --------------- */
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #ffffff;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #222325;
  position: sticky;
  top: 0;
  z-index: 1; }
  header img {
    width: 15rem;
    padding-left: 4rem; }
  header .buscar {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center; }
    header .buscar input {
      width: 20vw;
      height: 40px;
      padding: 0 20px;
      outline: none;
      border: 1px solid silver;
      border-radius: 30px; }
    header .buscar .buscar_icon {
      padding: 5px; }
  header .carritoIcon {
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem; }
    header .carritoIcon button {
      background-color: white;
      border: 0px; }
      header .carritoIcon button i {
        color: #222325; }

/* --------------- CARRITO ---------------*/
.carritoPushbar {
  background-color: #222325; }
  .carritoPushbar .carritoTitulo {
    display: flex; }
    .carritoPushbar .carritoTitulo button {
      background-color: #222325;
      border: 0px;
      margin: 0.8rem 0 1.5rem 1rem; }
      .carritoPushbar .carritoTitulo button i {
        color: #ffffff; }
    .carritoPushbar .carritoTitulo h2 {
      color: white;
      width: 100%;
      text-align: center;
      margin: 0;
      align-self: center;
      padding-top: 0.5rem; }
  .carritoPushbar .sad {
    color: white;
    display: flex;
    justify-content: center; }
    .carritoPushbar .sad i {
      margin-top: 2rem; }
  .carritoPushbar .carritoDiv .carritoItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
    color: white;
    padding-bottom: 1rem;
    padding-top: 1rem; }
    .carritoPushbar .carritoDiv .carritoItems img {
      justify-self: center;
      align-self: center; }
    .carritoPushbar .carritoDiv .carritoItems p {
      font-size: 0.7rem;
      justify-self: center; }
    .carritoPushbar .carritoDiv .carritoItems input {
      width: 2rem;
      font-size: 0.8rem; }
    .carritoPushbar .carritoDiv .carritoItems button {
      border: none;
      background-color: #222325; }
      .carritoPushbar .carritoDiv .carritoItems button i {
        background-color: #f81818;
        padding: 7px 4px 7px 4px;
        border-radius: 5px; }
  .carritoPushbar .total {
    color: white;
    margin: 2rem 0 0 2rem;
    display: flex; }
    .carritoPushbar .total P {
      width: 50%; }
    .carritoPushbar .total div {
      width: 50%;
      display: flex;
      justify-content: flex-end; }
      .carritoPushbar .total div input {
        background-color: #10c254;
        color: #000000;
        border: none;
        padding: 0rem 0.8rem 0rem 0.8rem;
        border-radius: 0.5rem;
        margin-right: 3rem;
        font-size: 0.9rem;
        height: 2.5rem;
        transition: 0.5s; }
        .carritoPushbar .total div input:hover {
          color: white; }

/* --------------- NAV --------------- */
nav {
  background-color: #222325; }
  nav .nav_items {
    justify-content: center; }
    nav .nav_items a {
      color: white;
      margin: 0 30px 0 30px;
      padding: 14px 0px 0px 0px;
      position: relative;
      text-decoration: none; }
      nav .nav_items a::after {
        content: "";
        margin-top: 10px;
        display: block;
        bottom: 0;
        height: 0.3rem;
        width: 0%;
        background-color: #1894f8;
        transition: 0.5s; }
      nav .nav_items a:hover::after {
        width: 100%; }

.banner img {
  width: 100%; }

/* --------------- FOOTER --------------- */
footer {
  background-color: #222325;
  height: 10em;
  width: 100%;
  display: grid;
  grid-template-areas: "menu marcas marcas redes";
  align-items: center; }
  footer .menu {
    grid-area: menu; }
    footer .menu ul {
      padding: 0;
      margin: 0;
      margin-left: 3em; }
      footer .menu ul a {
        text-decoration: none;
        color: white; }
        footer .menu ul a:hover {
          color: white; }
  footer .marcas {
    grid-area: marcas;
    justify-self: center; }
    footer .marcas div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      align-items: center; }
      footer .marcas div img {
        width: 9em;
        padding: 2em; }
  footer .redes_logo {
    grid-area: redes;
    justify-self: flex-end;
    margin-right: 3em; }
    footer .redes_logo div .logo {
      display: flex;
      justify-content: center; }
      footer .redes_logo div .logo img {
        width: 10em;
        padding-bottom: 0.6em; }
    footer .redes_logo div .redes img {
      width: 3em;
      padding: 0.3em;
      filter: brightness(0.5);
      border-radius: 100%;
      transition: 0.5s; }
      footer .redes_logo div .redes img:hover {
        filter: brightness(1); }

main {
  display: flex; }
  main .categorias {
    width: 10%;
    height: 100%;
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
    background-color: white; }
    main .categorias label {
      font-size: 0.8rem; }
  main #productos {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center; }
    main #productos .productosCard {
      box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
      -webkit-box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
      -moz-box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
      border-radius: 20px;
      background-color: white;
      width: 18rem;
      height: 25rem;
      margin: 1rem;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      text-align: center; }
      main #productos .productosCard .productoImgDiv {
        height: 18rem;
        display: flex;
        justify-content: center;
        background-color: white; }
        main #productos .productosCard .productoImgDiv img {
          align-self: center;
          width: 60%; }
      main #productos .productosCard div {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        height: 15%; }
        main #productos .productosCard div input {
          background-color: #061cb0;
          border-color: #061cb0;
          font-family: "Quicksand";
          color: white;
          padding: 0.5rem;
          border-radius: 10px; }
        main #productos .productosCard div p {
          font-weight: bold; }
