* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body h1 {
  font-family: "Quicksand";
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 0.8rem;
  color: white;
  background-color: #222325;
  border-bottom: 1px solid black; }

body h2 {
  font-family: "Quicksand";
  font-size: 1.2rem;
  font-weight: bold; }

body h3 {
  font-family: "Quicksand";
  font-size: 1rem;
  font-weight: bold;
  text-align: center; }

body p, body button, body input, body label, body select, body li {
  font-family: "Quicksand";
  font-size: 0.8rem; }

body a {
  font-family: "Russo One";
  color: white;
  font-size: 0.9rem;
  text-decoration: none; }

body main {
  background-image: url("../assets/Layout/Background.png"); }

body hr {
  color: #e0d8d8;
  margin: 0.5rem; }

/* --------------- HEADER --------------- */
header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #222325;
  position: sticky;
  top: 0;
  z-index: 1; }
  header img {
    width: 13rem;
    padding-left: 3rem; }
  header .buscar {
    padding: 5px; }
    header .buscar .buscarDiv > input {
      width: 20vw;
      height: 2.3rem;
      padding: 0 10px;
      border: 1px solid silver;
      border-radius: 5px; }
    header .buscar .buscarLista {
      background-color: #ffffff;
      top: 3.1rem;
      width: 20vw;
      align-self: flex-start;
      position: fixed;
      display: none; }
      header .buscar .buscarLista ul {
        padding: 0;
        margin: 0; }
        header .buscar .buscarLista ul li {
          list-style-type: none;
          padding: 10px; }
          header .buscar .buscarLista ul li:hover {
            background-color: #222325;
            color: white; }
  header .carritoIcon {
    display: flex;
    padding-right: 3rem; }
    header .carritoIcon .contador {
      background-color: orange;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 15px;
      display: none; }
      header .carritoIcon .contador .contadorNumero {
        padding: 3px;
        text-align: center;
        font-weight: 500; }
    header .carritoIcon button {
      background-color: white;
      border: 0px; }
      header .carritoIcon button i {
        color: #222325; }

/* --------------- CARRITO ---------------*/
.carritoPushbar {
  background-color: #222325; }
  .carritoPushbar .carritoTitulo {
    display: flex; }
    .carritoPushbar .carritoTitulo button {
      background-color: #222325;
      border: 0px;
      margin: 0.8rem 0 1.5rem 1rem; }
      .carritoPushbar .carritoTitulo button i {
        color: #ffffff; }
    .carritoPushbar .carritoTitulo h2 {
      color: white;
      width: 100%;
      text-align: center;
      margin: 0;
      align-self: center;
      padding-top: 0.5rem; }
  .carritoPushbar .sad {
    color: white;
    display: flex;
    justify-content: center; }
    .carritoPushbar .sad i {
      margin-top: 2rem; }
  .carritoPushbar .carritoDiv .carritoItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
    color: white;
    padding: 1rem 0 1rem 0; }
    .carritoPushbar .carritoDiv .carritoItems img {
      justify-self: center;
      align-self: center; }
    .carritoPushbar .carritoDiv .carritoItems p {
      justify-self: center; }
    .carritoPushbar .carritoDiv .carritoItems input {
      width: 2rem; }
    .carritoPushbar .carritoDiv .carritoItems button {
      border: none;
      background-color: #222325; }
      .carritoPushbar .carritoDiv .carritoItems button i {
        background-color: #f81818;
        padding: 7px 4px 5px 4px;
        border-radius: 5px; }
  .carritoPushbar .total {
    color: white;
    margin: 2rem;
    display: flex; }
    .carritoPushbar .total p {
      width: 50%; }
    .carritoPushbar .total div {
      width: 50%;
      display: flex;
      justify-content: flex-end; }
      .carritoPushbar .total div input {
        background-color: #10c237;
        color: #000000;
        border: none;
        padding: 0rem 0.6rem 0rem 0.6rem;
        border-radius: 0.7rem;
        font-weight: bold;
        height: 2.2rem;
        transition: 0.5s; }
        .carritoPushbar .total div input:hover {
          color: white; }

/* --------------- NAV --------------- */
nav {
  background-color: #222325; }
  nav .navbar-toggler:focus {
    box-shadow: 0 0 0; }
  nav .navbar-toggler-icon {
    width: 1.5rem; }
  nav .navbar-toggler {
    border: none;
    padding: 0.1rem; }
  nav .nav_items {
    justify-content: center; }
    nav .nav_items a {
      color: white;
      margin: 0 30px 0 30px;
      padding: 14px 0px 0px 0px;
      position: relative; }
      nav .nav_items a::after {
        content: "";
        margin-top: 10px;
        display: block;
        bottom: 0;
        height: 0.3rem;
        width: 0%;
        background-color: #1894f8;
        transition: 0.5s; }
      nav .nav_items a:hover::after {
        width: 100%; }

.banner img {
  width: 100%; }

/* --------------- FOOTER --------------- */
footer {
  background-color: #222325;
  height: 100%;
  padding: 2rem;
  display: grid;
  grid-template-areas: "menu marcas marcas redes";
  align-items: center; }
  footer .menu {
    grid-area: menu; }
    footer .menu div {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column; }
      footer .menu div a {
        color: white;
        transition: 0.4s; }
        footer .menu div a:hover {
          color: orange; }
  footer .marcas {
    grid-area: marcas;
    justify-self: center; }
    footer .marcas div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      align-items: center; }
      footer .marcas div img {
        width: 9em;
        padding: 2em; }
  footer .redes_logo {
    grid-area: redes;
    justify-self: flex-end; }
    footer .redes_logo div {
      display: grid;
      grid-row-gap: 1rem;
      justify-content: center; }
      footer .redes_logo div .logo img {
        width: 11rem; }
      footer .redes_logo div .redes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-items: center; }
        footer .redes_logo div .redes i {
          transition: 0.4s; }
          footer .redes_logo div .redes i:hover {
            transform: scale(1.1);
            color: white;
            box-shadow: 1px 1px 16px 2px white; }

.main > .mainDiv {
  display: grid;
  grid-template-areas: "cat prod prod prod prod";
  padding: 4rem 1rem 4rem 1rem; }
  .main > .mainDiv .categorias {
    height: 25.5rem;
    width: 15rem;
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
    background-color: white;
    grid-area: cat; }
    .main > .mainDiv .categorias button {
      border: none;
      padding: 0.5rem;
      border-radius: 0.7rem;
      margin-top: 0.8rem;
      background-color: orange;
      color: black;
      font-weight: bolder; }
  .main > .mainDiv #productos {
    display: grid;
    grid-area: prod;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: flex-start;
    grid-row-gap: 1rem; }
    .main > .mainDiv #productos .productosCard {
      box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
      -webkit-box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
      -moz-box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
      border-radius: 20px;
      background-color: white;
      width: 16rem;
      height: 20rem;
      margin: 1rem 0 1rem 0;
      padding: 1.3rem;
      display: flex;
      flex-direction: column;
      text-align: center; }
      .main > .mainDiv #productos .productosCard .productoImgDiv {
        height: 18rem;
        display: flex;
        justify-content: center;
        background-color: white; }
        .main > .mainDiv #productos .productosCard .productoImgDiv img {
          align-self: center;
          width: 7rem; }
      .main > .mainDiv #productos .productosCard div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; }
        .main > .mainDiv #productos .productosCard div .productoPrecio {
          margin: 0; }
        .main > .mainDiv #productos .productosCard div input {
          background-color: #061cb0;
          border-color: #061cb0;
          color: white;
          padding: 0.5rem;
          border-radius: 10px; }
        .main > .mainDiv #productos .productosCard div p {
          font-weight: bold; }

@media screen and (min-width: 1025px) and (max-width: 1328px) {
  .main > .mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; }
    .main > .mainDiv .categorias {
      margin: 0;
      padding: 1.5rem;
      width: 90%;
      height: auto;
      display: flex;
      flex-direction: column; }
      .main > .mainDiv .categorias .categoriasLabel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; }
        .main > .mainDiv .categorias .categoriasLabel br {
          display: none; }
    .main > .mainDiv #productos {
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 0rem;
      grid-column-gap: 2rem;
      justify-items: center; }
      .main > .mainDiv #productos .productosCard {
        width: 17rem; }
  footer {
    padding: 1rem; }
    footer .menu > div > a {
      padding: 0.3rem; }
    footer .marcas > div {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 3rem; } }

@media screen and (min-width: 961px) and (max-width: 1024px) {
  body h1 {
    font-size: 1.3rem; }
  nav .nav_items {
    padding-bottom: 0.5rem; }
    nav .nav_items a {
      margin: 0;
      padding: 0.5rem; }
      nav .nav_items a::after {
        display: none; }
  .main > .mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; }
    .main > .mainDiv .categorias {
      margin: 0;
      padding: 1.5rem;
      width: 95%;
      height: auto;
      display: flex;
      flex-direction: column; }
      .main > .mainDiv .categorias .categoriasLabel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap: 0.1rem; }
        .main > .mainDiv .categorias .categoriasLabel br {
          display: none; }
    .main > .mainDiv #productos {
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 0rem;
      grid-column-gap: 2rem;
      justify-items: center; }
      .main > .mainDiv #productos .productosCard {
        width: 17rem; }
  footer {
    padding: 1rem; }
    footer .menu > div > a {
      padding: 0.3rem; }
    footer .marcas > div {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 3rem; } }

@media screen and (min-width: 769px) and (max-width: 960px) {
  body h1 {
    font-size: 1rem; }
  body h2 {
    font-size: 0.9rem; }
  body p, body input, body a, body label, body button, body li {
    font-size: 0.8rem; }
  header .logoHeader img {
    width: 9rem;
    padding-left: 1rem; }
  header .buscar .buscarDiv input {
    width: 30vw;
    height: 2rem; }
  header .buscar .buscarLista {
    width: 30vw; }
  header .carritoIcon {
    padding-right: 1rem; }
    header .carritoIcon .contador {
      height: 1.4rem;
      width: 1.4rem; }
    header .carritoIcon i {
      font-size: 1.4rem; }
  .carritoPushbar .total > p {
    font-size: 0.9rem; }
  nav .nav_items {
    padding-bottom: 0.5rem; }
    nav .nav_items a {
      margin: 0;
      padding: 0.5rem; }
      nav .nav_items a::after {
        display: none; }
  .main > .mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; }
    .main > .mainDiv .categorias {
      margin: 0;
      padding: 1.5rem;
      width: 90%;
      height: auto;
      display: flex;
      flex-direction: column; }
      .main > .mainDiv .categorias .categoriasLabel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap: 0.1rem; }
        .main > .mainDiv .categorias .categoriasLabel br {
          display: none; }
    .main > .mainDiv #productos {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 0rem;
      grid-column-gap: 5rem;
      justify-items: center; }
      .main > .mainDiv #productos .productosCard {
        width: 17rem; }
  footer {
    padding: 1rem; }
    footer .menu > div > a {
      padding: 0.2rem; }
    footer .marcas > div {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 3rem; }
    footer .redes_logo div .logo > img {
      width: 9rem; }
    footer .redes_logo div .redes a > i {
      font-size: 1rem; } }

@media screen and (min-width: 480px) and (max-width: 768px) {
  body h1 {
    font-size: 1rem;
    padding: 0.5rem; }
  body h2 {
    font-size: 0.9rem; }
  body p, body input, body a, body label, body button, body li {
    font-size: 0.7rem; }
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logoHeader carritoIcon" "buscarHeader buscarHeader"; }
    header .logoHeader {
      grid-area: logoHeader; }
      header .logoHeader img {
        padding-left: 1rem;
        width: 8rem; }
    header .buscar {
      grid-area: buscarHeader;
      display: grid;
      justify-self: center; }
      header .buscar .buscarDiv input {
        width: 70vw;
        height: 2rem; }
      header .buscar .buscarLista {
        top: 5.5rem;
        width: 70vw; }
    header .carritoIcon {
      grid-area: carritoIcon;
      padding-right: 1rem;
      justify-self: flex-end; }
      header .carritoIcon .contador {
        height: 1.3rem;
        width: 1.3rem; }
      header .carritoIcon i {
        font-size: 1.2rem; }
  .carritoPushbar .carritoDiv > .carritoItems img {
    width: 3rem; }
  .carritoPushbar .total > p {
    font-size: 0.8rem; }
  nav .nav_items {
    padding-bottom: 0.5rem; }
    nav .nav_items a {
      margin: 0;
      padding: 0.5rem; }
      nav .nav_items a::after {
        display: none; }
  .main > .mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; }
    .main > .mainDiv .categorias {
      margin: 0;
      padding: 1.5rem;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column; }
      .main > .mainDiv .categorias .categoriasLabel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 0.1rem; }
        .main > .mainDiv .categorias .categoriasLabel br {
          display: none; }
    .main > .mainDiv #productos {
      grid-template-columns: 1fr;
      grid-row-gap: 0rem;
      justify-items: center; }
      .main > .mainDiv #productos .productosCard {
        width: 17rem; }
  footer {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 2rem 0; }
    footer div {
      padding: 0rem;
      margin: 0; }
    footer .menu > div > a {
      padding: 0.7rem;
      text-align: center; }
    footer .marcas > div {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 4rem;
      padding: 2rem 0 2rem 0; }
    footer .redes_logo div .logo > img {
      width: 9rem; }
    footer .redes_logo div .redes {
      width: 18rem; }
      footer .redes_logo div .redes a > i {
        font-size: 1.2rem;
        padding-top: 1rem; }
  [data-pushbar-direction="left"][data-pushbar-id], [data-pushbar-direction="right"][data-pushbar-id] {
    width: 100%; } }

@media screen and (min-width: 320px) and (max-width: 479px) {
  body h1 {
    font-size: 1rem;
    padding: 0.5rem; }
  body h2 {
    font-size: 0.9rem; }
  body p, body input, body a, body label, body button, body li {
    font-size: 0.7rem; }
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logoHeader carritoIcon" "buscarHeader buscarHeader"; }
    header .logoHeader {
      grid-area: logoHeader; }
      header .logoHeader img {
        padding-left: 1rem;
        width: 8rem; }
    header .buscar {
      grid-area: buscarHeader;
      display: grid;
      justify-self: center; }
      header .buscar .buscarDiv input {
        width: 70vw;
        height: 2rem; }
      header .buscar .buscarLista {
        top: 5.5rem;
        width: 70vw; }
    header .carritoIcon {
      grid-area: carritoIcon;
      padding-right: 1rem;
      justify-self: flex-end; }
      header .carritoIcon .contador {
        height: 1.3rem;
        width: 1.3rem; }
      header .carritoIcon i {
        font-size: 1.2rem; }
  .carritoPushbar .carritoDiv > .carritoItems img {
    width: 3rem; }
  .carritoPushbar .total > p {
    font-size: 0.8rem; }
  nav .nav_items {
    padding-bottom: 0.5rem; }
    nav .nav_items a {
      margin: 0;
      padding: 0.5rem; }
      nav .nav_items a::after {
        display: none; }
  .main > .mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; }
    .main > .mainDiv .categorias {
      margin: 0;
      padding: 1.5rem;
      width: 95%;
      height: auto;
      display: flex;
      flex-direction: column; }
      .main > .mainDiv .categorias .categoriasLabel {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 0.1rem; }
        .main > .mainDiv .categorias .categoriasLabel br {
          display: none; }
    .main > .mainDiv #productos {
      grid-template-columns: 1fr;
      grid-row-gap: 0rem;
      justify-items: center; }
      .main > .mainDiv #productos .productosCard {
        width: 17rem; }
  footer {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 2rem 0; }
    footer div {
      padding: 0rem;
      margin: 0; }
    footer .menu > div > a {
      padding: 0.7rem;
      text-align: center; }
    footer .marcas > div {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 4rem;
      padding: 2rem 0 2rem 0; }
    footer .redes_logo div .logo > img {
      width: 9rem; }
    footer .redes_logo div .redes {
      width: 18rem; }
      footer .redes_logo div .redes a > i {
        font-size: 1.2rem;
        padding-top: 1rem; }
  [data-pushbar-direction="left"][data-pushbar-id], [data-pushbar-direction="right"][data-pushbar-id] {
    width: 100%; } }

.headerCompra {
  position: relative; }
  .headerCompra .buscarCompra {
    display: none; }

.mainCompra {
  height: auto;
  display: flex;
  justify-content: center;
  padding: 2rem; }
  .mainCompra .formBackground {
    background-color: white;
    display: grid;
    width: 60rem;
    grid-template-areas: "datos pedido" "pago pago" "finalizarCompra finalizarCompra"; }
    .mainCompra .formBackground h3 {
      padding: 10px; }
    .mainCompra .formBackground hr {
      color: black; }
    .mainCompra .formBackground label {
      font-weight: bold; }
    .mainCompra .formBackground input {
      width: 20rem;
      height: 2rem;
      border: solid 1px #c0c0c0; }
    .mainCompra .formBackground textarea {
      border: solid 1px #c0c0c0;
      font-family: "Quicksand";
      font-size: 0.8rem; }
    .mainCompra .formBackground div {
      padding: 0.7rem;
      padding-left: 01rem; }
    .mainCompra .formBackground .facturacionDatos {
      grid-area: datos;
      width: 30rem;
      border-right: 1px solid gainsboro; }
    .mainCompra .formBackground .facturacionPago {
      grid-area: pago; }
      .mainCompra .formBackground .facturacionPago div {
        display: grid;
        grid-template-areas: "seleccione seleccione" "titular vencimiento" "tarjeta clave"; }
        .mainCompra .formBackground .facturacionPago div .metodo {
          grid-area: seleccione; }
          .mainCompra .formBackground .facturacionPago div .metodo select {
            width: 5rem; }
        .mainCompra .formBackground .facturacionPago div .titular {
          grid-area: titular; }
        .mainCompra .formBackground .facturacionPago div .vencimiento {
          grid-area: vencimiento; }
        .mainCompra .formBackground .facturacionPago div .tarjeta {
          grid-area: tarjeta; }
        .mainCompra .formBackground .facturacionPago div .clave {
          grid-area: clave; }
    .mainCompra .formBackground .facturacionPedido {
      width: 30rem;
      grid-area: pedido; }
      .mainCompra .formBackground .facturacionPedido .tuPedido {
        display: flex;
        flex-direction: column;
        padding: 0; }
        .mainCompra .formBackground .facturacionPedido .tuPedido .divPedido {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          align-items: center;
          justify-items: center; }
          .mainCompra .formBackground .facturacionPedido .tuPedido .divPedido p {
            font-size: 0.8rem; }
      .mainCompra .formBackground .facturacionPedido .totalPedido {
        display: flex;
        justify-content: flex-end;
        padding-right: 4rem; }
    .mainCompra .formBackground .formEnviar {
      grid-area: finalizarCompra;
      padding: 3rem;
      display: flex;
      justify-content: center; }
      .mainCompra .formBackground .formEnviar input {
        width: 10rem;
        height: 3rem;
        font-weight: bold;
        background-color: orange;
        border: 1px solid black;
        transition: 0.5s; }
        .mainCompra .formBackground .formEnviar input:hover {
          color: white; }
