.main>.mainDiv{
    display: grid;
    grid-template-areas: 
    "cat prod prod prod prod";
    padding: 2% 1% 2% 1%;
    .categorias{
        height: 24rem; width: 90%;
        border-radius: 10px;
        padding: 1.4rem; margin-top: 1rem;
        background-color: white;
        grid-area: cat;
        justify-self: center;
        .categoriasLabel{
            display: grid;
            grid-row-gap: 0.3rem;
        }
        button{
            border: none;
            padding: 0.5rem;
            border-radius: 0.7rem;
            margin-top: 0.8rem;
            background-color: orange;
            color: black;
            font-weight: bolder;
        }
    }
    #productos{
        display: grid;
        grid-area: prod;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        grid-row-gap: 1rem;
        .productosCard{
            box-shadow: 1px 1px 16px 2px rgba(34,35,37,0.22);
            -webkit-box-shadow: 1px 1px 16px 2px rgba(34,35,37,0.22);
            -moz-box-shadow: 1px 1px 16px 2px rgba(34,35,37,0.22);
            border-radius: 20px;
            background-color: white;
            width: 16rem; height: 20rem;
            margin: 1rem 0 1rem 0;
            padding: 1.3rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            .productoImgDiv{
                height: 18rem;
                display: flex;
                justify-content: center;
                background-color: white;
                img{
                    width: 7rem;
                }
            }
            div{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .productoPrecio{
                    margin: 0;
                    font-weight: bold;
                }
                .botonAñadir{
                    background-color: #061cb0;
                    border: none;
                    color: white;
                    padding: 0.5rem;
                    border-radius: 10px;
                }
            }
        }
    }
    
}