main{
    display: grid;
    grid-template-areas: 
    "cat prod prod prod";
    .categorias{
        height: 25rem;
        width: 16rem;
        border-radius: 10px;
        padding: 2rem; margin: 1rem;
        background-color: white;
        grid-area: "cat";
        label{
            font-size: 0.8rem;
        }
        button{
            border: none;
            font-family: "Quicksand";
            padding: 0.5rem;
            border-radius: 0.7rem;
            margin-top: 0.8rem;
            background-color: orange;
            color: black;
            font-weight: bolder;
        }
    }
    #productos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        grid-area: "prod";
        .productosCard{
            box-shadow: 1px 1px 16px 2px rgba(34,35,37,0.22);
            -webkit-box-shadow: 1px 1px 16px 2px rgba(34,35,37,0.22);
            -moz-box-shadow: 1px 1px 16px 2px rgba(34,35,37,0.22);
            border-radius: 20px;
            background-color: white;
            width: 18rem;
            height: 25rem;
            margin: 1rem;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            .productoImgDiv{
                height: 18rem;
                display: flex;
                justify-content: center;
                background-color: white;
                img{
                    align-self: center;
                    width: 60%;
                }
            }
            div{
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
                height: 15%;
                input{
                    background-color: #061cb0;
                    border-color: #061cb0;
                    color: white;
                    padding: 0.5rem;
                    border-radius: 10px;
                }
                p{
                    font-weight: bold;
                }
            }
        }
    }
}