
.headerCompra{
    position: relative;
}

.mainCompra{
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2rem;
    .formBackground{
        background-color: white;
        display: grid;
        width: 60rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "datos pedido"
        "pago pago"
        "finalizarCompra finalizarCompra";
        h3{
            padding: 10px;
        }
        hr{
            color: black;
        }
        label{
            font-weight: bold;
        }
        input{

            width: 20vw; height: 2rem; 
            border: solid 1px #c0c0c0;
        }
        textarea{
            border: solid 1px #c0c0c0;
            font-family: "Quicksand";
            font-size: 0.8rem;
            width: 20vw;
        }
        div{
            padding: 1rem;

        }
        .facturacionDatos{
            grid-area: datos;
            // width: 30rem;
            border-right: 1px solid gainsboro;
        }
        .facturacionPago{
            grid-area: pago;
            .divPago{
                padding: 0;
                display: grid;
                grid-template-areas: 
                "seleccione none"
                "titular vencimiento"
                "tarjeta clave";
                .metodo{
                    grid-area: seleccione;
                    select{
                        width: 5rem;
                    }
                }
                .titular{
                    grid-area: titular;
                }
                .vencimiento{
                    grid-area: vencimiento;
                }
                .tarjeta{
                    grid-area: tarjeta;
                }
                .clave{
                    grid-area: clave;
                }
            }
        }
        .facturacionPedido{
            grid-area: pedido;
            .tuPedido{
                display: flex;
                flex-direction: column;
                padding: 0;
                .divPedido{
                    display: grid;
                    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
                    align-items: center;
                    justify-items: center;
                }
            }
            .totalPedido{
                display: flex;
                justify-content: flex-end;
                padding-right: 4rem;
            }
        }
        .formEnviar{
            grid-area: finalizarCompra;
            padding: 3rem;
            display: flex;
            justify-content: center;
            input{
                width: 10rem; height: 3rem;
                font-weight: bold;
                background-color: orange;
                border: 1px solid black;
                transition: 0.5s;
                &:hover{
                    color: white;
                }
            }
        }
    }
}
