*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    h1{
        font-family: "Quicksand";
        font-size: 1.5rem;
        text-align: center;
        margin: 0; padding: 0.8rem;
        color: white;
        background-color: #222325;
        border-bottom: 1px solid black;
    }
    h2{
        font-family: "Quicksand";
        font-size: 1.2rem;
        font-weight: bold;
    }
    h3{
        font-family: "Quicksand";
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }
    p, button, input, label, select, li{
        font-family: "Quicksand";
        font-size: 0.8rem;
    }
    a{
        font-family: "Russo One";
        color: white;
        font-size: 0.9rem;
        text-decoration: none;
    }
    main{
        background-image: url("../assets/Layout/Background.png");
    }
    hr{
        color: rgb(224, 216, 216);
        margin: 0.5rem; 
    }
    // overflow-x: hidden;
}


/* --------------- HEADER --------------- */
header{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #222325;
    position: sticky;
    top: 0;
    z-index: 1;
    img{
        width: 13rem;
        padding-left: 3rem;
    }
    .buscar{
        padding: 5px;
        .buscarDiv>input{
            width: 20vw; height: 2.3rem;
            padding: 0 10px;
            border: 1px solid silver;
            border-radius: 5px; 
        }
        .buscarLista{
            background-color: #ffffff;
            top: 3.1rem;
            width: 20vw;
            align-self: flex-start;
            position: fixed;
            display: none;
            ul{
                padding: 0; margin: 0;
                li{
                    list-style-type: none;
                    padding: 10px;
                    &:hover{
                        background-color: #222325;
                        color: white;
                    }
                }
            }
        }
    }
    .carritoIcon{
        display: flex;
        padding-right: 3rem;
        .contador{
            background-color: orange;
            height: 1.5rem; width: 1.5rem;
            border-radius: 15px;
            display: none;
            .contadorNumero{
                padding: 3px;
                text-align: center;
                font-weight: 500;
            }
        }
        button{
            background-color: white;
            border: 0px;
            i{
                color: #222325;
            }
        }
    }
}

/* --------------- CARRITO ---------------*/
.carritoPushbar{
    background-color: #222325;
    .carritoTitulo{
        display: flex;
        button{
            background-color: #222325;
            border:  0px;
            margin: 0.8rem 0 1.5rem 1rem;
            i{
                color: #ffffff;
            }
        }
        h2{
            color: white;
            width: 100%;
            text-align: center;
            margin: 0;
            align-self: center;
            padding-top: 0.5rem;
        }
    }
    .sad{
        color: white;
        display: flex;
        justify-content: center;
        i{
            margin-top: 2rem;
        }
    }
    .carritoDiv{
        .carritoItems{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
            color: white;
            padding: 1rem 0 1rem 0;
            img{
                justify-self: center;
                align-self: center;
            }
            p{
                justify-self: center;
            }
            input{
                width: 2rem;
            }
            button{
                border: none;
                background-color: #222325;
                i{
                    background-color: #f81818;
                    padding: 7px 4px 5px 4px ;
                    border-radius: 5px;
                }
            }
        }
    }
    .total{
        color: white;
        margin: 2rem;
        display: flex;
        p{
            width: 50%;
        }
        div{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            input{
                background-color: #10c237;
                color: #000000;
                border: none;
                padding:  0rem 0.6rem 0rem 0.6rem;
                border-radius: 0.7rem;
                font-weight: bold;
                height: 2.2rem;
                transition: 0.5s;
                &:hover{
                    color: white;
                    
                }
            }
        }
    }
}

/* --------------- NAV --------------- */
nav{
    background-color: #222325;
    .navbar-toggler:focus{
        box-shadow: 0 0 0;
    }
    .navbar-toggler-icon{
        width: 1.5rem;
    }
    .navbar-toggler{
        border: none;
        padding: 0.1rem;
    }
    .nav_items{
        justify-content: center;
        a{
            color: white;
            margin: 0 30px 0 30px;
            padding: 14px 0px 0px 0px;
            position: relative;
            &::after{
                content: "";
                margin-top: 10px;
                display: block;
                bottom: 0;
                height: 0.3rem;
                width: 0%;
                background-color: #1894f8;
                transition: 0.5s;
            }
            &:hover::after{
                width: 100%;
            }
        }
    }

}
.banner{
    img{
        width: 100%;
    }
}

/* --------------- FOOTER --------------- */
footer{
    background-color:  #222325;
    height: 100%;
    padding: 2rem;
    display: grid;
    grid-template-areas: 
    "menu marcas marcas redes";
    align-items: center;
    .menu{
        grid-area: menu;
        div{
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            a{
                color: white;
                transition: 0.4s;
                &:hover{
                    color: orange;
                }
            }
        }
    }
    .marcas{
        grid-area: marcas;
        justify-self: center;
        div{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            align-items: center;
            img{
                width: 9em;
                padding: 2em;
            }
        }
    }
    .redes_logo{
        grid-area: redes;
        justify-self: flex-end;
        div{
            display: grid;
            grid-row-gap: 1rem;
            justify-content: center;
            .logo{
                img{
                    width: 11rem;
                }
            }
            .redes{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                justify-items: center;
                i{
                    transition: 0.4s;
                    &:hover{
                        transform: scale(1.1);
                        color: white;
                        box-shadow: 1px 1px 16px 2px white;
                    }
                }
            }
        }
    }
}





