
// MIN: 769 - MAX: 960 //
@media screen and (min-width: 769px) and (max-width: 960px){
    body{
        h1{
            font-size: 1rem;
        }
        h2{
            font-size: 0.9rem;
        }
        p, input, a, label, button, li{
            font-size: 0.8rem;
        }
    }
    header{
        .logoHeader{
            img{
                width: 9rem;
                padding-left: 1rem;
            }
        }
        .buscar{
            .buscarDiv{
                input{
                    width: 30vw; height: 2rem;
                }
            }
            .buscarLista{
                width: 30vw;
            }
        }
        .carritoIcon{
            padding-right: 1rem;
            .contador{
                height: 1.4rem; width: 1.4rem;
            }
        }
    }
    .carritoPushbar{
        .total>p{
            font-size: 0.9rem;
        }
    }
    nav{
        .nav_items{
            a{
                margin: 0; padding: 0.5rem;
                &:hover{
                    display: none;
                }
            }
        }
    }
    .main>.mainDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        .categorias{
            margin: 0; padding: 1.5rem;
            width: 100%; height: auto;
            display: flex;
            flex-direction: column;
            .categoriasLabel{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                br{
                    display: none;
                }
            }
        }
        #productos{
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 0rem;
            grid-column-gap: 5rem;
            justify-items: center;
            .productosCard{
                width: 17rem;
            }
        }
    }
    footer{
        padding: 1rem;
        .menu>div>a{
            padding: 0.2rem;
        }
        .marcas>div{
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 3rem;
        }
        .redes_logo{
            div{
                .logo>img{
                    width: 9rem;
                }
                .redes{
                    a>i{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}



// MIN: 480 - MAX: 768 //
@media screen and (min-width: 480px) and (max-width: 768px){
    body{
        h1{
            font-size: 1rem;
            padding: 0.5rem;
        }
        h2{
            font-size: 0.9rem;
        }
        p, input, a, label, button, li{
            font-size: 0.7rem;
        }
    }
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "logoHeader carritoIcon"
        "buscarHeader buscarHeader";
        .logoHeader{
            grid-area: logoHeader;
            img{
                padding-left: 1rem;
                width: 8rem;
            }
        }
        .buscar{
            grid-area: buscarHeader;
            display: grid;
            justify-self: center;
            .buscarDiv{
                input{
                    width: 70vw; height: 2rem;
                }
            }
            .buscarLista{
                top: 5.5rem;
                width: 70vw;
            }
        }
        .carritoIcon{
            grid-area: carritoIcon;
            padding-right: 1rem;
            justify-self: flex-end;
            .contador{
                height: 1.3rem; width: 1.3rem;
            }
            i{
                font-size:1.2rem;
            }
        }
    }
    .carritoPushbar{
        .carritoDiv>.carritoItems{
            img{
                width: 3rem;
            }
        }
        .total>p{
            font-size: 0.8rem;
        }
    }
    nav{
        .nav_items{
            padding-bottom: 0.5rem;
            a{
                margin: 0; padding: 0.5rem;
                &::after{
                    display: none;
                }
            }
        }
    }
    .main>.mainDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        .categorias{
            margin: 0; padding: 1.5rem;
            width: 100%; height: auto;
            display: flex;
            flex-direction: column;
            .categoriasLabel{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                br{
                    display: none;
                }
            }
        }
        #productos{
            grid-template-columns: 1fr;
            grid-row-gap: 0rem;
            justify-items: center;
            .productosCard{
                width: 17rem;
            }
        }
    }
    footer{
        display: flex;
        flex-direction: column;
        padding: 1rem 0 2rem 0;
        div{
            padding: 0rem; margin: 0;
        }
        .menu>div>a{
            padding: 0.7rem;
            text-align: center;
        }
        .marcas>div{
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 4rem;
            padding: 2rem 0 2rem 0;
        }
        .redes_logo{
            div{
                .logo>img{
                    width: 9rem;
                }
                .redes{
                    width: 18rem; 
                    a>i{
                        font-size: 1.2rem;
                        padding-top: 1rem;
                    }
                }
            }
        }
    }

    [data-pushbar-direction="left"][data-pushbar-id], [data-pushbar-direction="right"][data-pushbar-id] {
        width: 100%;
    }
}