
// MIN: 1025 - MAX: 1328 //
@media screen and (min-width: 1025px) and (max-width: 1328px){
    .main>.mainDiv{
        grid-template-areas: "cat"
        "prod";
        .categorias{
            height: auto;
            display: flex;
            flex-direction: column;
            .categoriasLabel{
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
        #productos{
            grid-template-columns: 1fr 1fr 1fr ;

        }
    }
    footer{
        .marcas>div{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

// MIN: 961 - MAX: 1024 //
@media screen and (min-width: 961px) and (max-width: 1024px){
    nav{
        .nav_items{
            a{
                margin: 0; padding: 0.5rem;
                &::after{
                    display: none;
                }
            }
        }
    }
    .main>.mainDiv{
        grid-template-areas: "cat"
        "prod";
        .categorias{
            height: auto;
            display: flex;
            flex-direction: column;
            .categoriasLabel{
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
        #productos{
            grid-template-columns: 1fr 1fr 1fr ;

        }
    }
    footer{
        .marcas>div{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

// MIN: 769 - MAX: 960 //
@media screen and (min-width: 769px) and (max-width: 960px){
    header{
        .buscar{
            .buscarDiv>input{
                width: 30vw; 
            }
            .buscarLista{
                width: 30vw;
            }
        }
    }
    nav{
        .nav_items{
            padding-bottom: 0.5rem;
            a{
                margin: 0; padding: 0.5rem;
                &::after{
                    display: none;
                }
            }
        }
    }
    .main>.mainDiv{
        grid-template-areas: "cat"
        "prod";
        .categorias{
            height: auto;
            display: flex;
            flex-direction: column;
            .categoriasLabel{
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
        #productos{
            grid-template-columns: 1fr 1fr;
        }
    }
    footer{
        .marcas>div{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}



// MIN: 480 - MAX: 768 //
@media screen and (min-width: 480px) and (max-width: 768px){
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 0.4rem;
        grid-template-areas: 
        "logoHeader carritoIcon"
        "buscarHeader buscarHeader";
        .logoHeader{
            grid-area: logoHeader;
        }
        .buscar{
            grid-area: buscarHeader;
            display: grid;
            justify-self: center;
            .buscarDiv{
                input{
                    width: 70vw; 
                }
            }
            .buscarLista{
                top: 6.5rem;
                width: 70vw;
            }
        }
        .carritoIcon{
            grid-area: carritoIcon;
            justify-self: flex-end;
            .contador{
                height: 1.4rem; width: 1.4rem;
            }
        }
    }
    nav{
        .nav_items{
            padding-bottom: 0.5rem;
            a{
                margin: 0; padding: 0.5rem;
                &::after{
                    display: none;
                }
            }
        }
    }
    .main>.mainDiv{
        grid-template-areas: "cat"
        "prod";
        .categorias{
            height: auto;
            display: flex;
            flex-direction: column;
            .categoriasLabel{
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        #productos{
            grid-template-columns: 1fr;
        }
    }
    footer{
        grid-template-areas: 
        "menu"
        "marcas"
        "redes"
        "info";
        grid-row-gap: 2.5rem;
        .menu>div>a{
            text-align: center;
        }
        .marcas>div{
            grid-template-columns: 1fr 1fr 1fr;
        }
        .redes_logo{
            justify-self: center;
        }
    }

    [data-pushbar-direction="left"][data-pushbar-id], [data-pushbar-direction="right"][data-pushbar-id] {
        width: 100%;
    }
}


// MIN: 320 - MAX: 479 //
@media screen and (min-width: 320px) and (max-width: 479px){
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "logoHeader carritoIcon"
        "buscarHeader buscarHeader";
        .logoHeader{
            grid-area: logoHeader;
        }
        .buscar{
            grid-area: buscarHeader;
            display: grid;
            justify-self: center;
            .buscarDiv{
                input{
                    width: 70vw; height: 2rem;
                }
            }
            .buscarLista{
                top: 6rem;
                width: 70vw;
            }
        }
        .carritoIcon{
            grid-area: carritoIcon;
            justify-self: flex-end;
            .contador{
                height: 1.4rem; width: 1.4rem;
            }
        }
    }
    nav{
        .nav_items{
            padding-bottom: 0.5rem;
            a{
                margin: 0; padding: 0.5rem;
                &::after{
                    display: none;
                }
            }
        }
    }
    .main>.mainDiv{
        grid-template-areas: "cat"
        "prod";
        .categorias{
            height: auto;
            display: flex;
            flex-direction: column;
            .categoriasLabel{
                grid-template-columns: 1fr 1fr;
                grid-row-gap: 0.1rem;
            }
        }
        #productos{
            grid-template-columns: 1fr;
        }
    }
    footer{
        grid-template-areas: 
        "menu"
        "marcas"
        "redes"
        "info";
        grid-row-gap: 2.5rem;
        .menu>div>a{
            text-align: center;
        }
        .marcas>div{
            grid-template-columns: 1fr 1fr 1fr;
        }
        .redes_logo{
            justify-self: center;
        }
    }

    [data-pushbar-direction="left"][data-pushbar-id], [data-pushbar-direction="right"][data-pushbar-id] {
        width: 100%;
    }
}